(function (global){
	global.AppConfig = {
		consumer_key: "your_consumer_key",
		consumer_secret: "your_consumer_secret",
		port: 3000,
		cookiesecret: "something very secret"
	}
}(typeof window  === 'undefined' ? exports : window));