(function (global){
	global.AppConfig = {
		consumer_key: "your_consumer_key",
		consumer_secret: "your_consumer_secret",
		cookie_secret: "something very secret",
		osomtalk_chat: "your_connection_string",
		osomtalk_session: "your_connection_string",
		port: 3000
	}
}(typeof window  === 'undefined' ? exports : window));