<!DOCTYPE html>
<html lang="en">
<head>
	<title>OsomTalk - About Us</title>
	<meta name="viewport" content="width = device-width, initial-scale=1, user-scalable=0">
	<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {


	});
	
	</script>
	
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="/img/favicon.png">
	
	<style type="text/css">
	body {
		padding-top: 60px;
		padding-bottom: 40px;
	}

	/* Custom container */
	.container-narrow {
		margin: 0 auto;
		max-width: 700px;
	}
	.container-narrow > hr {
		margin: 10px 0;
	}

	/* Main marketing message and sign up button */
	.jumbotron {
		margin: 60px 0;
		text-align: center;
	}
	.jumbotron h1 {
		font-size: 72px;
		line-height: 1;
	}
	/*
	.jumbotron .btn {
		font-size: 21px;
		padding: 14px 24px;
	}
	*/

	/* Supporting marketing content */
	.marketing {
		margin: 60px 0;
	}
	.marketing p + h4 {
		margin-top: 10px;
	}
	.footer {
		text-align: center;
	}
	</style>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
</head>	
<body>
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/">OsomTalk</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/">Home</a></li>
							<li class="active"><a href="/about">About Us</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<h1>About Us</h1>
			<p><strong>OsomTalk</strong> is an awesome chat site for your awesome team, event or LOL eaters.</p>

			<p>We aim to be your favorite chat tool, reviving the good old times when people got together on IRC rooms to talk, have fun and work. Mixed with the features you have grown to expect in the post Twitter/Facebook era.</p>

			<p><strong>OsomTalk</strong> was born at <a href="http://hackergarage.mx/" title="HackerGarage Home Page" target="_BLANK">HackerGarage</a>, a <a href="http://en.wikipedia.org/wiki/Hackerspace" target="_BLANK">HackerSpace</a> located in Guadalajara México. And is getting the support from the fine entrepreneurial community in México (Thanks!)</p>
		</div>
		<hr/>

		<div class="row-fluid">
			<h2>Contact</h2>
			<p>You can reach us at any of the following places:</a>
		</div>
		<div class="row-fluid contact">
			<div class="span4"><a href="http://twitter.com/OsomTalk" target="_BLANK"><img src="/img/tw-logo.png" class="pull-left"/><h2>Twitter</h2></a></div>
			
			<div class="span4"><a href="mailto:contact@osomtalk.com" target="_BLANK"><img src="/img/email-logo.png" class="pull-left"/><h2>Email</h2></a></div>

			<div class="span4"><a href="https://www.facebook.com/OsomTalk" target="_BLANK"><img src="/img/fb-logo.png" class="pull-left"/><h2>Facebook</h2></a></div>
		</div>
		<hr/>
		<div class="row-fluid">
			<h2>Osomtalk Manifesto</h2>
			<p>A declaration of the intentions and views of the Osomtalk Team.</p>
		</div>
		
		<div class="row-fluid">
			<div class="span6">
				<h3>Simplicity</h3>
				<p class="declaration">We believe that true simplicity isn't made by just hiding complex stuff under the hood, but by really making it simple for the user to grasp what is inside the product.</strong></p>

				<p>Users make themselves an idea of what are the rules that apply inside a system, the farther this self made ideas are from what is really happening inside, the harder it will be for them to use that system.</p>
				
				<p>Because of that we try to keep the magic tricks at a minimum, even at the expense of another GUI element.</p>
			</div>
			<div class="span6">
				<h3>Privacy</h3>
				<p class="declaration">We believe that people deserve his own personal not-tracked, not-marketed place in the Internet, a place where they can simply talk without being overheard.</p>

				<p>We try to make <strong>OsomTalk</strong> one of this places by doing 2 things:</p>
				<ol>
					<li> Making totally anonymous chats.</li>
					<li> Providing <a href="https://github.com/hackergarage/osomtalk" title="OsomTalk Code Repository">the Source Code</a>.</li>
				</ol>
				
				<p>The second point is really important, because we don't know if in the future some silly law require us to store your data, by giving you <a href="https://github.com/hackergarage/osomtalk" title="OsomTalk Code Repository">the source code</a>, we give you the power to make your very own place and keep your privacy untouched.</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<h3>Openness</h3>

				<p class="declaration">We believe that we gain more by opening the code, than by running a closed source business.</p>

				<p>Innovation doesn't come easy, and entering an already crowded market is risky, the only thing we can do is to be really disrupting and for that we have a little mantra:</p>

				<div class="sub_block">
					<h4>Disruptive Innovation Mantra:</h4>

					<ul>
						<li>If it doesn't exists, make it.</li>
						<li>If it already exists, make it better.</li>
						<li>If it is already well done, make it cheaper.</li>
						<li>If it is already cheap, make it open.</li>
					</ul>
					<p>Or just fuck everything and go straight to open, to create a whole new market.</p>
				</div>

				<p>By opening the code we hope a completely new market emerge, One that would eventually make a living to us and everyone in the community.</p>

				<p>For that we have chosen the AGPLv3 license that requires that whoerever who provide a similar service using our code base, has to publish his modifications back to the community, this assure us that everyone using the code has to play nice with everyone.</p>
			</div>

			<div class="span6">
				<h3>Productivity</h3>

				<p class="declaration">We believe productivity can be gained by giving a workforce something similar to what they use everyday.</p>

				<p>In <strong>OsomTalk</strong>, We settled for the <strong>TimeLine Pattern</strong> (That you can see on <a href="https:facebook.com" target="_BLANK">Facebook</a>, <a href="https://twitter.com" target="_BLANK">Twitter</a> and <a href="https://plus.google.com/" target="_BLANK">Google Plus</a>)</p>

				<p>It has at least this elements:</p>
				<ul>
					<li>New interactions arriving from the top.</li>
					<li>A dedicated button to say that something is ok (Like, Favorite, +1).</li>
					<li>Images and videos embedded directly in the page.</li>
				</ul>
				
				<p>Its familiarity to everyone in the Internet, Make it easy for a workforce to understand the tool and start making an productive use out of it in a couple of minutes.</p>
			</div>
		</div>
		<hr/>
		<h2>Team</h2>
		<div class="row-fluid">
			<div class="span6 founders">
				<img src="/img/levhita.jpg" class="pull-left img-circle"/>
				<h2>Levhita <span class="muted smaller">(Programmer)</span></h2>
				<p>Web Developer and <a href="http://www.gnu.org/philosophy/free-sw.html" title="FreeSoftware Fundation" target="_BLANK">Free Software</a> Advocate, CoFounder of <a href="http://hackergarage.mx/" title="HackerGarage Home Page" target="_BLANK">HackerGarage</a> a HackerSpace located in Guadalajara, Jalisco.<br/>
				<a href="http://twitter.com/levhita" target="_BLANK">Twitter</a> || <a href="https://github.com/levhita" target="_BLANK">GitHub</a> || <a href="http://www.linkedin.com/in/levhita" target="_BLANK">LinkedIn</a></p>
			</div>
			<div class="span6 founders">
				<img src="/img/jitachi.jpg" class="pull-left img-circle"/>
				<h2>Hitachi Garcia <span class="muted smaller">(Designer)</span></h2>
				<p>Interaction Designer trying to create a better internet for my baby girl.<br/>
				<a href="http://twitter.com/jitachi" target="_BLANK">Twitter</a> || <a href="http://dribbble.com/jitachi" target="_BLANK">Dribbble</a> || <a href="http://www.linkedin.com/in/jitachi" target="_BLANK">LinkedIn</a>
				</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 founders">
				<img src="/img/missing-founder.png" class="pull-left img-circle"/>
				<h2>????? <span class="muted smaller">(Marketer)</span></h2>
				<p>Someone who can do web 2.0 marketing, from getting kickass conversion rates in facebook ads, to handling trolls in twitter and that actually knows what does it mean to "Get out of the building".</p>
			</div>
			<div class="span6 founders">
				<img src="/img/missing-founder.png" class="pull-left img-circle"/>
				<h2>????? <span class="muted smaller">(?????)</span></h2>
				<p>We probably don't know we are missing you in the team, please come by and teach us why we suck at what we do and what you can do to fix it.</p>
			</div>
		</div>
		<hr/>
		<div class="row-fluid">
			A lot of people has helped in the creation of <strong>OsomTalk</strong>, most of them for the lulz, here is a list of them.
		<div class="row-fluid">
			<div class="span4">
				<ul>
					<li>Diego Resendez (<a href="http://twitter.com/DiegoResendez">@DiegoResendez</a>)</li>
					<li>Adrian Mayoral (<a href="http://twitter.com/Mayoralito">@Mayoralito</a>)</li>
					<li>José Ramírez (<a href="http://twitter.com/joseramirezponc">@joseramirezponc</a>)</li>
					<li>Carlos Colorado (<a href="https://twitter.com/ccolorado">@ccolorado</a>)</li>
				</ul>
			</div>
			<div class="span4">
				<ul>
					<li>Ricardo Rivas (<a href="http://twitter.com/richistron">@richistron</a>)</li>
					<li>Erick Mendoza (<a href="http://twitter.com/odiseo42">@odiseo42</a>)</li>
					<li>Ek' Lamat (<a href="https://twitter.com/pateketrueke">@pateketrueke</a>)</li>
				</ul>
			</div>
			<div class="span4">
				<ul>
					<li>Michelle Torres (<a href="http://twitter.com/nmicht">@nmicht</a>)</li>
					<li>Gabriel Saldaña (<a href="http://twitter.com/gabrielsaldana">@gabrielsaldana</a>)</li>
					<li>Alvaro Lizama (<a href="https://twitter.com/nekrox">@nekrox</a>)</li>
				</ul>
			</div>
		</div>

		<hr/>
		<div class="row footer">
			OsomTalk is an <a href="http://www.gnu.org/philosophy/free-sw.html" title="FreeSoftware Fundation">FreeSoftware</a> project availabe as <a href="http://en.wikipedia.org/wiki/Software_as_a_service" title="Wikipedia's definition">SaaS</a> made at <a href="http://hackergarage.mx/" title="HackerGarage Home Page">HackerGarage</a>.<br/>

			<a href="https://github.com/hackergarage/osomtalk" title="OsomTalk Code Repository">Get The Source!</a>
		</div>
	</div>

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	{{html ANALYTICS}}
</body>
</html>
